### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

### Projects ###
*.xcodeproj
*.xcworkspace

### Tuist derived files ###
graph.dot
Derived/

### Tuist managed dependencies ###
Tuist/.build/

.env
AppStore_com.coby.CobyHappiness.mobileprovision
QCJLQF9GV4.cer
QCJLQF9GV4.certSigningRequest
QCJLQF9GV4.p12
CobyHappiness.ipa